{% extends 'app/layout.html' %}

{% load static %}

{% block title %} About {% endblock title %}

{% block main %}

<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1 class="w-full my-2 pt-4 text-5xl font-bold leading-tight text-center text-gray-800 serif-font">
      About
    </h1>
    <div class="w-full mb-4">
      <div class="h-1 mx-auto bg-gradient-to-r from-slate-200 to-stone-400 w-64 opacity-25 my-0 py-0"></div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        {% if about_me.image %}
        <img title="Me" src="{{ about_me.image.url }}" class="rounded" alt="About Me Image">
        {% else %}
        <img title="Me" src="{% static 'app/img/about-me.png' %}" class="rounded" />
        {% endif %}
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          {% if about_me.header %}
          <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3 serif-font">
            {{ about_me.header }}
          </h3>
          {% else %}
          <h3 class="text-2xl text-gray-800 font-bold leading-none mb-3 serif-font">
            Greetings, fellow tech enthusiasts!
          </h3>
          {% endif %}

          {% if about_me.description %}
          <p class="text-gray-600 mb-8">
            {{ about_me.description }}
          </p>
          {% else %}
          <p class="text-gray-600 mb-8">
            I am Princess Leia, thrilled to present Developer's Blog, a captivating
            online destination exploring the world of technology and programming.
          </p>
          <p class="text-gray-600 mb-8">As an advocate for innovation, I've
            curated a platform where creativity thrives, knowledge expands, and connections flourish. Dive into
            cutting-edge frameworks, programming languages, and groundbreaking advancements with expert tutorials,
            thought-provoking articles, and invaluable insights.
          </p>
          <p class="text-gray-600 mb-8"> Whether you're an experienced developer or a curious
            novice, Developer's Blog is your trusted companion. It's more than just tech articles; it's a thriving
            community where collaboration and knowledge sharing thrive.
          </p>
          <p class="text-gray-600 mb-8">Join us to push the boundaries of innovation,
            unravel complex algorithms, and unlock the potential of the digital realm. Together, let's create
            transformative solutions that shape our technological landscape.
            Explore Developer's Blog, unleash your
            coding prowess, and make a lasting impact in the realm of technology.
          </p>
          <p class="text-gray-600 mb-8">May the Force be with you on this
            exciting adventure with Developer's Blog!
          </p>
          {% endif %}
        </div>
      </div>
      {% if user.is_authenticated and user.is_staff %}
      <div class="w-full sm:w-full p-6 mt-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3 serif-font leading-1">
          Edit About Page Content (only for admins)
        </h3>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table class="mb-4 w-full">
            {{ form.as_table }}
          </table>
          <button
            class="cursor-pointer text-sm w-full py-2 px-4 rounded border border-slate-300 bg-slate-100 text-slate-600 hover:opacity-70 transition"
            type="submit">Save</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock main %}