{% extends 'app/layout.html' %}

{% load static %}

{% block title %} Search {% endblock title %}

{% block main %}

<section class="bg-white pb-8 pt-4 mt-20">
    <div class="container max-w-5xl mx-auto m-8">
        <form class="text-black" action="/app/blog-posts" method="POST" id="search-form">
            <div class="flex">
                {% csrf_token %}
                <table id="form-table">
                    {{my_form.as_table}}
                </table>
                <input type="submit" value="Search"
                    class="cursor-pointer text-sm ml-4 py-2 px-4 rounded border border-slate-300 bg-slate-100 text-slate-600 hover:opacity-70 transition">
            </div>
        </form>
        <div class="flex flex-col gap-4 bg-white mt-4">
            {% if blogs|length > 0 %}
            {% for blog in blogs %}
            <dev class="border border-gray-300 shadow-md rounded hover:bg-gray-50">
                <!-- Badge -->
                <div class="grid grid-cols-6 p-5 gap-y-2">
                    <!-- Picture -->
                    <div>
                        <img src="{{ blog.image.url }}" class="object-cover w-40 h-28 rounded" />
                    </div>
                    <!-- Description -->
                    <div class="col-span-5 md:col-span-4 ml-4">
                        <p class="text-sky-700 text-xs">{{ blog.category }}</p>
                        <a href="{% url 'Detail_Post' post_id=blog.id %}"
                            class="block cursor-pointer text-gray-600 font-bold serif-font text-lg hover:opacity-80 transition duration-500 ease-in-out">
                            {{ blog.title|truncatechars:65 }}
                        </a>
                        <p class="text-gray-400 text-sm">{{ blog.date }} </p>
                        <p class="text-gray-600"> {{ blog.summary|truncatechars:175 }}</p>
                        <a href="{% url 'Profile' username=blog.user.username %}" class="text-sky-700 hover:opacity-80 transition duration-500 ease-in-out">
                            <span class="text-sm text-gray-600">By</span>
                            {% if blog.user.profile.name %}
                            <span class="text-sm">{{blog.user.profile.name}} {{blog.user.profile.lastname}}</span>
                            {% else %}
                            <span class="text-sm">{{ blog.user.email }}</span>
                            {% endif %}
                        </a>
                    </div>
                    {% if blog.user == request.user %}
                    <div class="flex col-start-2 ml-4 md:col-start-auto md:ml-0 md:justify-end gap-2">
                        <a href="{% url 'Detail_Post' post_id=blog.id %}"
                            class="w-fit h-fit cursor-pointer text-slate-500 bg-slate-200 hover:text-sky-700 hover:bg-sky-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"
                            title="View post">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                        <a href="{% url 'Edit_Post' post_id=blog.id %}"
                            class="w-fit h-fit cursor-pointer text-slate-500 bg-slate-200 hover:text-sky-700 hover:bg-sky-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"
                            title="Edit post">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="#" onclick="openDeleteModal('{{ blog.id }}')"
                            class="w-fit h-fit cursor-pointer text-[#ab706c] bg-[#ebd9d8] hover:text-red-500 hover:bg-red-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"
                            title="Delete profile">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Confirmation modal -->
                <div id="deleteModal{{ blog.id }}" class="fixed inset-0 flex items-center justify-center z-10 hidden">
                    <div class="bg-white p-8 rounded shadow">
                        <p class="mb-4">Are you sure you want to delete this blog post?</p>
                        <div class="flex justify-end">
                            <button class="bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2"
                                onclick="closeDeleteModal('{{ blog.id }}')">Cancel</button>
                            <a href="{% url 'Delete_Blog' blog.id %}"
                                class="bg-red-500 text-white px-4 py-2 rounded">Delete</a>
                        </div>
                    </div>
                </div>
            </dev>
            <!-- Display other fields as needed -->
            {% endfor %}
            {% else %}
            <div class="border border-gray-200 shadow-sm rounded">
                <p class="text-gray-400 text-sm text-center py-4">No blog posts added yet.</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<script>
    function openDeleteModal(blogId) {
        document.getElementById('deleteModal' + blogId).classList.remove('hidden');
    }

    function closeDeleteModal(blogId) {
        document.getElementById('deleteModal' + blogId).classList.add('hidden');
    }
</script>

{% endblock main %}