<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% block title %} Index {% endblock title %} - Developer's Blog</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Replace with your tailwind.css once created-->
    <link rel="icon" href="{% static 'app/img/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ec8569739b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
</head>

<body
    class="leading-normal tracking-normal text-slate-700 bg-gradient-to-r from-slate-200 to-stone-400 sans-serif-font">
    <!--Nav-->
    <nav id="header" class="px-4 fixed w-full z-30 top-0 text-slate-700 bg-gradient-to-r from-slate-200 to-stone-400">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
            <div class="flex items-center">
                <a class="text-slate-700 font-bold text-2xl lg:text-2xl serif-font" href="{% url 'Home' %}">
                    <i class="fa-solid fa-paperclip"></i>
                    Developer's Blog
                </a>
            </div>
            <div class="block lg:hidden pr-4">
                <button id="nav-toggle"
                    class="flex items-center p-1 text-slate-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-500 ease-in-out">
                    <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
                id="nav-content">
                <ul class="list-reset lg:flex justify-end flex-1 items-center text-sm">
                    <li class="mr-1">
                        <a class="inline-block py-2 px-4 text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 duration-500 ease-in-out rounded-full"
                            href="{% url 'About' %}">About</a>
                    </li>
                    <li class="mr-1">
                        <a class="inline-block text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 py-2 px-4 transition duration-500 ease-in-out rounded-full"
                            href="{% url 'Blog_Posts' %}">Search Posts</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="mr-1">
                        <a class="inline-block text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 py-2 px-4 transition duration-500 ease-in-out rounded-full"
                            href="{% url 'My_Posts' %}">My Posts</a>
                    </li>
                    <li class="mr-1">
                        <a class="inline-block text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 py-2 px-4 transition duration-500 ease-in-out rounded-full"
                            href="{% url 'Profile' username=request.user.username %}">My Profile</a>
                    </li>
                    <li class="mr-1">
                        <a class="inline-block text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 py-2 px-4 transition duration-500 ease-in-out rounded-full"
                            href="{% url 'Messages' %}">Messages</a>
                    </li>
                    <li class="mr-1 ml-2 text-slate-700">
                        Hi <span class="font-bold text-sky-700">{{request.user.username}}</span> !
                    </li>
                    <li class="mr-1">
                        <a class="ml-1 text-lg inline-block text-gray-700 rounded p-2 transition hover:text-sky-700 duration-500 ease-in-out"
                            href="{% url 'Logout' %}" title="Logout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="mr-1">
                        <a class="inline-block bg-slate-200 text-gray-700 rounded-full py-2 px-4 transition hover:opacity-60 hover:text-white hover:bg-blue-600 duration-500 ease-in-out"
                            href="{% url 'Login' %}">Login</a>
                    </li>
                    <li class="mr-1">
                        <a class="inline-block text-slate-700 hover:text-white hover:bg-blue-600 hover:opacity-60 py-2 px-4 transition duration-500 ease-in-out rounded-full"
                            href="{% url 'Register' %}">Sign-up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block main %}
    {% endblock main %}

    <!--Footer-->
    <svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
                <g class="wave" fill="white">
                    <path
                        d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z">
                    </path>
                </g>
                <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
                    <g
                        transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
                        <path
                            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
                            opacity="0.100000001"></path>
                        <path
                            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                            opacity="0.100000001"></path>
                        <path
                            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
                            opacity="0.200000003"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <footer class="bg-white border-y-8 border-[#D0D2D6]">
        <div class="container mx-auto pl-8">
            <div class="w-full grid grid-cols-6 py-2">
                <div class="col-span-2 mb-4 text-black">
                    <a class="text-slate-600 hover:font-bold text-2xl lg:text-4xl" href="#">
                        <a class="text-slate-700 font-bold text-lg serif-font" href="{% url 'Home' %}">
                            <i class="fa-solid fa-paperclip"></i>
                            Developer's Blog
                        </a>
                    </a>
                </div>
                <div class="col-span-1">
                    <p class="uppercase text-gray-500 md:mb-2 text-sm">Links</p>
                    <ul class="mb-2">
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#" class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">FAQ</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#" class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Help</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Support</a>
                        </li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <p class="uppercase text-gray-500 md:mb-2 text-sm">Legal</p>
                    <ul class="mb-2">
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#" class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Terms</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <p class="uppercase text-gray-500 md:mb-2 text-sm">Social</p>
                    <ul class="mb-2">
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Facebook</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Linkedin</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <p class="uppercase text-gray-500 md:mb-2 text-sm">Company</p>
                    <ul class="mb-2">
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#" class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Official
                                Blog</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#" class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">About
                                Us</a>
                        </li>
                        <li class="mt-1 inline-block mr-2 md:block md:mr-0 text-sm">
                            <a href="#"
                                class="hover:opacity-60 text-gray-800 hover:text-slate-500 transition">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div>
        <p class="text-center p-3 text-sm">Proyecto de Leticia Techera</a></p>
    </div>
    <!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->
    <script>
        var scrollpos = window.scrollY;

        document.addEventListener("scroll", function () {
            /*Apply classes for slide in bar*/
            scrollpos = window.scrollY;
        });
    </script>
    <script>
        /*Toggle dropdown list*/
        /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

        var navMenuDiv = document.getElementById("nav-content");
        var navMenu = document.getElementById("nav-toggle");

        document.onclick = check;
        function check(e) {
            var target = (e && e.target) || (event && event.srcElement);

            //Nav Menu
            if (!checkParent(target, navMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, navMenu)) {
                    // click on the link
                    if (navMenuDiv.classList.contains("hidden")) {
                        navMenuDiv.classList.remove("hidden");
                    } else {
                        navMenuDiv.classList.add("hidden");
                    }
                } else {
                    // click both outside link and outside menu, hide menu
                    navMenuDiv.classList.add("hidden");
                }
            }
        }
        function checkParent(t, elm) {
            while (t.parentNode) {
                if (t == elm) {
                    return true;
                }
                t = t.parentNode;
            }
            return false;
        }
    </script>
</body>

</html>