{% extends 'app/layout.html' %}

{% load static %}

{% block title %} About me {% endblock title %}

{% block main %}

<section class="bg-white py-8">
    <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 pt-4 text-5xl font-bold leading-tight text-center text-gray-800">
            Profiles
        </h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto bg-gradient-to-r from-slate-200 to-stone-400 w-64 opacity-25 my-0 py-0"></div>
        </div>
        <div class="">
            <form class="text-black" action="/app/manage-profiles" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ my_form.as_table }}
                    <!-- Add similar code for other form fields -->
                </table>
                <input type="submit" value="Add"
                    class="cursor-pointer py-2 px-4 rounded bg-slate-500 text-white hover:opacity-70 transition">
            </form>

            <div class="flex flex-col gap-4 bg-white mt-4">

                {% for profile in profiles %}
                <div class="border border-gray-200 shadow rounded hover:bg-gray-50">
                    <!-- Badge -->
                    <div class="grid grid-cols-6 p-5 gap-y-2">
                        <!-- Profile Picture -->
                        <div>
                            <img src="https://picsum.photos/seed/2/200/200" class="w-40 h-28 rounded" />
                        </div>
                        <!-- Description -->
                        <div class="col-span-5 md:col-span-4 ml-4">
                            <p class="text-sky-500 font-bold text-xs">{{ profile.name }} {{ profile.lastname }}</p>
                            <p class="text-gray-600 font-bold">{{ profile.description }}</p>
                            <p class="text-gray-600 font-bold">{{ profile.webpage }}</p>
                        </div>
                        <!-- Price -->
                        <div class="flex col-start-2 ml-4 md:col-start-auto md:ml-0 md:justify-end gap-2">
                            <a class="w-fit h-fit" title="View profile">
                                <i
                                    class="fa-solid fa-right-to-bracket text-slate-500 bg-slate-200 hover:text-sky-500 hover:bg-sky-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"></i>
                            </a>
                            <a class="w-fit h-fit" title="Edit profile">
                                <i
                                    class="fa-solid fa-pen text-slate-500 bg-slate-200 hover:text-sky-500 hover:bg-sky-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"></i>
                            </a>
                            <a class="w-fit h-fit" title="Delete profile">
                                <i
                                    class="fa-solid fa-trash text-[#ab706c] bg-[#ebd9d8] hover:text-red-500 hover:bg-red-100 py-1 px-2 text-sm rounded-lg transition duration-500 ease-in-out"></i>
                            </a>
                            <!-- <p class="rounded-lg text-sky-500 font-bold bg-sky-100 py-1 px-3 text-sm w-fit h-fit"> {{ Profilesid }} </p> -->
                        </div>
                    </div>
                </div>
                <!-- Display other fields as needed -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock main %}