{% extends 'app/layout.html' %}

{% load static %}

{% block title %} {{ blog.title }} {% endblock title %}

{% block main %}

<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <div class="w-2/3 mx-auto mt-10">
      <div class="w-full my-6 grid grid-cols-1">
        {% if blog.image and blog.image.url %}
        <img class="object-cover h-64 w-full rounded" src="{{ blog.image.url }}" alt="Profile Image" />
        {% else %}
        <img class="object-cover h-48 w-full rounded" src="{% static 'app/img/default-profile-image.jpg' %}"
          alt="Profile Image" />
        {% endif %}
      </div>
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-gray-800 serif-font">
        {{ blog.title }}
      </h1>
      <div class="flex justify-between">
        {% if blog.user.profile.name %}
        <p class="text-gray-400 mb-8 text-sm">By {{blog.user.profile.name}} {{blog.user.profile.lastname}}
        </p>
        {% else %}
        <p class="text-gray-400 mb-8 text-sm">By {{ blog.user.email }}</p>
        {% endif %}
        <p class="text-gray-400 text-sm">
          {{blog.date}}
        </p>
      </div>
      {% if blog.user == request.user %}
      <div class="grid justify-items-end content-end">
        <div class="">
          <a href="{% url 'Edit_Post' post_id=blog.id %}"
            class="cursor-pointer py-2 px-4 rounded border border-slate-300 bg-slate-100 text-slate-600 hover:opacity-80 transition text-sm">
            <i class="fa-solid fa-pen mt-1 mr-1 text-slate-500 text-sm"></i>
            Edit Post
          </a>
        </div>
      </div>
      {% endif %}
      <h3 class="text-lg text-gray-800 font-bold leading-none mb-3 serif-font">
        {{blog.category}}
      </h3>
      <p class="text-gray-600 mb-8">
        {{blog.summary|linebreaksbr}}
      </p>
      <p class="text-gray-600 mb-8">
        {{blog.content|linebreaksbr}}
      </p>
    </div>
    <div class="w-4/5 mx-auto mb-20">

    </div>
  </div>
</section>

{% endblock main %}